@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Space+Mono');

body {
  margin: 0;
}

.App {
  width: 100%;
  height: 100vh;
}

.Sidepanel {
  width: 30%;
  height: 100%;
  float: left;
}

.TopBar {
  width: calc(100% - 48px);
  height: calc(12% - 48px);
  min-height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #314656;
}

.SearchScreen {
  position: absolute;
  z-index: -10;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #314656;
  transition: all .2s;
}

.SearchScreen.active {
  z-index: 10;
  opacity: 1;
}

.WeatherInfo {
  width: calc(100% - 48px);
  /* height: calc(88% - 48px); */
  padding: 24px;
  /* height: 80%; */
}

.Map {
  width: 70%;
  height: 100%;
  float: right;
  background-color: #efefef;
}

.Marker {
  width: 10px;
  height: 10px;
  border-radius: 60px;
  border: 2px solid #8096a7;
  background-color: #8096a7;
}

.Info {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 20px;
}

.Header {
  font-family: 'Space Mono', monospace;
  /* font-size: 48px; */
  color: #fff;
}

.SmallHeader {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: #8096a7;
}

.Info > .Text {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  color: #2c4151;
}

i.icon {
  margin: 8px;
}

i.icon.clickable-true {
  cursor: pointer;
  opacity: .8;
}

i.icon.clickable-true:hover {
  opacity: 1;
}

input {
  font-family: 'Space Mono', monospace;
  border: none;
  background-color: transparent;
  color: #fff;
  outline: none;
  opacity: .8;
  text-align: center;
  font-size: 24px;
  width: auto;
}

input:focus {
  opacity: 1;
}
